$strongCyan: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyanHover: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyanHover: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$md1: 1200px;
$md2: 1000px;
$md3: 700px;

$boardMaxWidth: 1140px;